<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js" ></script>


<h1>MPC APP</h1>

<button class="mpc-key" data-key-index="0">Q</button>
<button class="mpc-key" data-key-index="1">W</button>
<button class="mpc-key" data-key-index="2">E</button>
<button class="mpc-key" data-key-index="3">R</button>
<button class="mpc-key" data-key-index="4">T</button>
<button class="mpc-key" data-key-index="5">Y</button>
