// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #222;
  color: #000;
  font-weight: 200;
  text-align: center;
}
h1 {
  font-weight: 200;
  letter-spacing: 2px;
}
.mpc-key {
  background: #2a2a2a;
  font-size: 40px;
  text-transform: uppercase;
  width: 130px;
  height: 130px;
  margin: 10px;
  float: left;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  &.active {
    background: #444;
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);

  }
}
